# APIs to fetch questions data
QUML_ODK_QUESTION_BANK_URL='https://dock.sunbirded.org/action/composite/v3/search'   # pointing to dev
QUML_ODK_QUESTION_BANK_DETAILS_URL='https://dock.sunbirded.org/api/question/v1/list'   # pointing to dev

# Vairables for form upload
ODK_BASE_URL=''
ODK_USERNAME=''
ODK_PASSWORD=''

# App specific
PORT=3000